@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root,
#root {
    height: 100%;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

@layer base {
    img {
        pointer-events: none;
    }

    body {
        width: 100vw;
        background: #EBEBEB;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
    }

    body.dark {
        background: #1A1A1A;
    }

    body::-webkit-scrollbar {
        width: 22px;
        /* Total width including `border-width` of scrollbar thumb */
        height: 0;
    }

    body::-webkit-scrollbar-thumb {
        height: 1em;
        border: 0.5em solid rgba(0, 0, 0, 0);
        /* Transparent border together with `background-clip: padding-box` does the trick */
        background-clip: padding-box;
        -webkit-border-radius: 1em;
        background-color: rgba(130, 130, 130, 1);
        -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
    }

    body::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    body::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: rgba(26, 26, 26, 1);
    }

    body.dark::-webkit-scrollbar-thumb:hover {
        background-color: rgba(235, 235, 235, 1);
    }
}

@layer utilities {
    @property --gradient-1 {
        syntax: '<color>';
        initial-value: rgb(235, 235, 235);
        inherits: false;
    }

    @property --gradient-2 {
        syntax: '<color>';
        initial-value: rgba(235, 235, 235, 0.75);
        inherits: false;
    }
    @property --gradient-3 {
        syntax: '<color>';
        initial-value: rgba(235, 235, 235, 0);
        inherits: false;
    }

    .gradient-bg {
        background: linear-gradient(to bottom, var(--gradient-1) 0%, var(--gradient-1) 50%, var(--gradient-3) 100%);
        transition:
            --gradient-1 500ms cubic-bezier(0.4, 0, 0.2, 1),
            --gradient-2 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .gradient-bg::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 4rem;
        left: 0;
        height: 6rem;
        width: 100vw;
        background: linear-gradient(to bottom, var(--gradient-2), var(--gradient-3));
        transition:
            --gradient-2 500ms cubic-bezier(0.4, 0, 0.2, 1),
            --gradient-3 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .dark .gradient-bg {
        --gradient-1: rgb(26, 26, 26);
        --gradient-3: rgba(26, 26, 26, 0);
    }
    .dark .gradient-bg::before {
        --gradient-2: rgba(26, 26, 26, 0.75);
        --gradient-3: rgba(26, 26, 26, 0);
    }

    @-moz-document url-prefix() {
        .gradient-bg {
            background: linear-gradient(to bottom, rgb(235, 235, 235) 0%, rgb(235, 235, 235) 50%, rgba(235, 235, 235, 0) 100%);
        }
        .gradient-bg::before {
            background: linear-gradient(to bottom, rgba(235, 235, 235, 0.75), rgba(235, 235, 235, 0));
        }
        .dark .gradient-bg {
            background: linear-gradient(to bottom, rgb(26, 26, 26) 0%, rgb(26, 26, 26) 50%, rgba(26, 26, 26, 0) 100%);
        }
        .dark .gradient-bg::before {
            background: linear-gradient(to bottom, rgba(26, 26, 26, 0.75), rgba(26, 26, 26, 0));
        }
    }

    .stroke-light {
        -webkit-text-stroke: 4px #EBEBEB;
        transition-property: -webkit-text-stroke, opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
    }
    .stroke-dark {
        -webkit-text-stroke: 4px #1A1A1A;
        transition-property: -webkit-text-stroke, opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
    }

    @media (max-width: 768px) {
        .stroke-light {
            -webkit-text-stroke: 3px #EBEBEB;
        }
        .stroke-dark {
            -webkit-text-stroke: 3px #1A1A1A;
        }
    }


    .blur-box {
        box-shadow: 0px 0px 100px 100px blue;
    }

    .blob-circle-1 {
        animation: blob-1 20s infinite linear;
    }

    .blob-circle-2 {
        animation: blob-2 20s infinite linear;
    }

    .blob-circle-3 {
        animation: blob-3 20s infinite linear;
    }

    .blob-circle-4 {
        animation: blob-4 20s infinite linear;
    }

    @keyframes blob-1 {
        0% {
            transform: translateX(-100%) translateY(-100%);
        }

        25% {
            transform: translateX(-70%) translateY(-80%);
        }

        50% {
            transform: translateX(-80%) translateY(-60%);
        }

        75% {
            transform: translateX(-90%) translateY(-70%);
        }

        100% {
            transform: translateX(-100%) translateY(-100%);
        }
    }

    @keyframes blob-2 {
        0% {
            transform: translateX(-10%) translateY(-80%);
        }

        25% {
            transform: translateX(0%) translateY(-100%);
        }

        50% {
            transform: translateX(-30%) translateY(-70%);
        }

        75% {
            transform: translateX(-20%) translateY(-90%);
        }

        100% {
            transform: translateX(-10%) translateY(-80%);
        }
    }

    @keyframes blob-3 {
        0% {
            transform: translateX(-80%) translateY(0%);
        }

        25% {
            transform: translateX(-100%) translateY(-10%);
        }

        50% {
            transform: translateX(-90%) translateY(-30%);
        }

        75% {
            transform: translateX(-100%) translateY(-20%);
        }

        100% {
            transform: translateX(-80%) translateY(0%);
        }
    }

    @keyframes blob-4 {
        0% {
            transform: translateX(0) translateY(-10%);
        }

        25% {
            transform: translateX(-20%) translateY(0%);
        }

        50% {
            transform: translateX(-10%) translateY(-30%);
        }

        75% {
            transform: translateX(-30%) translateY(-20%);
        }

        100% {
            transform: translateX(0) translateY(-10%);
        }
    }

    .mouse-scroll {
        animation: mouse 5s infinite linear;
    }

    @keyframes mouse {
        0% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(0);
        }

        60% {
            transform: translateY(100%);
            opacity: 1;
        }

        70% {
            transform: translateY(100%);
            opacity: 0;
        }

        75% {
            transform: translateY(0);
            opacity: 0;
        }

        80% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .rotate-animation {
        animation: rotation 1000ms linear;
    }

    @keyframes rotation {
        0% {
            transform: rotateZ(90deg);
        }

        50% {
            transform: rotateZ(270deg);
        }

        100% {
            transform: rotateZ(90deg);
        }
    }

}